language: ruby
rvm:
    - 2.2
before_script:
    - gem install awesome_bot
script:
    - awesome_bot README.md --white-list CONTRIBUTING.md,amzn.com,balccon.org,amazon.com,infosecurityeurope.com,zoomeye.org,def.camp,domaintools.com,reconstructer.org,reddit.com,deepsec.net,exploit-db.com,travis-ci,tekdefense.com,winitor.com,github.com,handlers.sans.org,bokken.re
